.shipInfos {
  height: fit-content;
  width: 200px;
  border-radius: 20px;
  padding: 25px;
  background-color: var(--color-table1);
  div {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  .title {
    color: var(--color-primary);
  }
}
.cooldown {
  width: 150px;
  p {
    font-size: 12px;
  }
  .indicator {
    margin-top: 10px;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background-color: var(--color-table2);
    overflow: hidden;
    position: relative;
    .total-time{
        position: absolute;
        left: 0;
        top: 0;
        height: 5px;
        
        border-radius: 10px;
        background-color: var(--color-primary);
    }
  }
}
