#root {
  max-width: 100vw;
  display: flex;
}

.content {
  padding: 50px;
  width: 100%;
  background-color: var(--color-background);
}

// BTN
.btn-prm {
  margin: 8px 8px;
  background-color: white;
  color: var(--color-background);
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.1s;
  font-size: 14px;
  &.icon{
    padding: 8px;
    margin-left: 20px;
  }
  img {
    width: 20px;
    margin-bottom: -1px;
  }
  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49%);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 9px;
    border: solid 3px var(--color-text);
    transition: 0.1s;
  }
  &::after {
    position: absolute;
    content: url("/icons/stars-btn.svg");
    right: -21px;
    top: -20px;
    width: 20px;
    height: auto;
    scale: 0;
    transform: rotate(90deg);
    transition: 0.2s;
  }
  &:hover {
    &::before {
      width: calc(100% + 8px);
      height: calc(100% + 8px);
    }
    &::after {
      transform: rotate(0deg);
      scale: 1;
    }
  }
}
// BTN

// TABLE
table {
  width: 100%;
  border-spacing: 0;
  border: solid 1px var(--color-table1);
  border-radius: 15px;
  overflow: hidden;
  color: var(--color-text);
  font-size: 14px;
  thead {
    background-color: var(--color-table1);
    border-bottom: solid 1px var(--color-table1);
  }
  tr {
    margin: 0;
  }
  th {
    text-align: start;
    margin: 0;
  }
  td {
    padding: 5px 10px;
    border-bottom: solid 1px var(--color-table1);
    padding-block: 15px;
  }
  tbody {
    tr {
      background-color: var(--color-table2);
      &:nth-child(even) {
        background-color: var(--color-table3);
      }
    }
  }
  .minimize {
    font-size: 10px;
  }
  .btn-prm {
    font-size: 12px;
  }
}
//TABLE


.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row{
  display: flex;
  gap: 20px;
  &.center{
    align-items: center;
  }
}