.header {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  max-width: 200px;
  min-width: 175px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  border-right: solid 3px #462b73;
  padding: 50px 25px;
}
.user {
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: end;
  color: white;
}
.headerNav {
  margin-top: 50px;
}
.headerLink {
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
  padding: 0;
  background: none;
  border: none;
  margin-bottom: 30px;
  text-decoration: none !important;
  font-size: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }
  .link-icon {
    width: 30px;
    height: auto;
  }
  &.logout {
    margin-top: auto;
    color: #ff6969;
  }
  &:hover {
    span {
      color: var(--color-primary);
    }
  }
}
