@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #ab8eda;
  --color-secondary: #352f44;
  --color-background: #0d0c11;

  --color-text: #dbd8e3;

  --color-table1: #2a2438;
  --color-table2: #352f44;
  --color-table3: #443d55;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  color: var(--color-text);
  ::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
